---
import { storyblokEditable} from '@storyblok/astro'
import Icon from 'astro-icon';
const { blok } = Astro.props
const { members } = blok;
---

<section class="text-gray-600 body-font dark:text-slate-400">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex">
        <div>
          <h3 class="text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Scientific Comittee</h3>

        </div>
        <div class="mx-12">
          <ul>
            {members.map(({firstName, lastName, affiliation, link}) => (
              <li class="underline">
                <a href={link.url}>
                {lastName}, {firstName}
                <Icon class="w-6 h-6 inline" name="mdi:link" />
              </a>

              </li>
            ))}

          </ul>
        </div>


      </div>
    </div>
  </section>