---
import Picture from "../core/Picture.astro";
const {name, picture, affiliation} = Astro.props;
---

<div class="flex flex-col items-center p-4 border sm:p-6 rounded-md dark:border-gray-700">
    <Picture
        src={picture.filename}
        alt={picture.alt}
        class="object-cover w-full rounded-md aspect-square"
        format="webp"
        widths={[200, 400, 800]} 
        aspectRatio="4:3" 
        sizes="(max-width: 800px) 100vw, 800px" />
    <h3 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">{name}</h3>
    <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">{affiliation}</p>
</div>