@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
	}

	lite-youtube {
		@apply mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full;
	}

	.btn-primary {
		@apply font-semibold bg-primary-600 text-white border-primary-600 hover:bg-primary-800 hover:border-primary-800 hover:text-white dark:text-white dark:bg-primary-700 dark:border-primary-700 dark:hover:border-primary-900 dark:hover:bg-primary-900;
	}

	a {
		@apply font-semibold dark:text-white
	}
}

[astro-icon] > * {
	stroke-width: 1.5;
}

[astro-icon].icon-bold > * {
	stroke-width: 2;
}

[data-aw-toggle-menu] path {
	@apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
	@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
	@apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

lite-youtube {
	min-width: 720px;
}


html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 150px;
    margin: -150px 0 0;
}